<div class="row">
    <div class="col s12 m8 offset-m2">
    <h4 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">JOURNAL</h4>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped  teal lighten-2">
            <tbody>
              <tr>
                <p>
                    Ce menu est constitué d’un seul élément : journal. Celui-ci permet d’avoir la liste de
                    tous les mandats émis par votre OD et leur statut. <br>
                    1. Cliquez sur &lt;&lt;mandats/ordonnancements&gt;&gt; <br>
                    2. Cliquez sur &lt;&lt;journal&gt;&gt; <br>
                    3. Renseignez le programme 2032 « gestion des ressources douanières et protection de
                    l’économie » et votre chapitre budgétaire. <br>
                    4. Cliquez sur &lt;&lt;éditer&gt;&gt; pour imprimer un mandat après l’avoir sélectionné ou sur
                    &lt;&lt;fermer&gt;&gt; pour quitter la fenêtre. <br>
                </p>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action center-align">
            <a (click)="goToMandat()" class="waves-effect waves-light btn red m2">Retour</a>
           
          </div>          
      </div>
    </div>
    </div>
    </div>
    


