<div class="row">
    <div class="col s12 m8 offset-m2">
    <h4 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">SITUATION D'UNE  IMPUTATION BUDGETAIRE</h4>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped  teal lighten-2">
            <tbody>
              <tr>
                <p>
                    Permet de connaitre les informations relatives à une ligne budgétaire (action, activité, la
                    dotation initiale, le montant engagé, le montant disponible ect). <br>
                    1. Cliquez sur &lt;&lt;situation d’une imputation budgétaire&gt;&gt; <br>
                    2. Cliquez sur &lt;&lt;programme, chapitre, ligne&gt;&gt; <br>
                    3. Cliquez sur &lt;&lt;composer imputation&gt;&gt; <br>
                    4. Renseignez les informations relatives à la ligne et cliquez sur &lt;&lt;ok&gt;&gt; <br>
                    5. Cliquez sur &lt;&lt;éditer situation AE&gt;&gt; ou sur &lt;&lt;éditer situation CP&gt;&gt; pour imprimer la
                    situation des AE ou CP <br>
                    1. Cliquez sur &lt;&lt;situation d’une imputation budgétaire&gt;&gt; <br>
                    2. Cliquez sur &lt;&lt;programme, action, activité, chapitre, ligne&gt;&gt; <br>
                    3. Cliquez sur &lt;&lt;rechercher&gt;&gt; pour avoir toutes les lignes. <br>
                    4. Cliquez sur la ligne dont vous souhaitez connaitre les informations et lisez celles-ci à
                    droite de l’écran. <br>
                    5. Cliquez sur &lt;&lt;éditer imputation&gt;&gt; pour imprimer l’imputation budgétaire de la ligne. <br>
                    6. Cliquez sur &lt;&lt;consulter dépenses&gt;&gt; pour voir l’ensemble des dépenses effectuées sur la
                    ligne <br>
                    7. Cliquez sur &lt;&lt;fermer&gt;&gt; pour quitter la fenêtre
                </p>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action center-align">
            <a (click)="goToConsultation()" class="waves-effect waves-light btn red m2">Retour</a>
            
          </div>          
      </div>
    </div>
    </div>
    </div>
    


