<div class="row">
    <div class="col s12 m8 offset-m2">
    <h4 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">NOUVEAU</h4>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped  teal lighten-2">
            <tbody>
              <tr>
                <p>
                    Cliquez sur &lt;&lt;nouveau&gt;&gt; <br>
1. Choisissez la catégorie de dépense entre &lt;&lt;sur CP fonctionnement&gt;&gt; et &lt;&lt;sur CP
d’investissement&gt;&gt; <br>
2. Choisissez le type de marché entre « drp simple ou cotation », « demande de mise en
règlement immédiat », « engagement suite à un marché standard immatriculé »,
« engagement suite à un marché à commande immatriculé », « engagement suite à un
marché clientèle immatriculé », <br>
3. Cliquez sur &lt;&lt;saisir&gt;&gt; <br>
4. Cliquez sur &lt;&lt;imputation et destination&gt;&gt; et renseignez les champs relatifs à
l’imputation budgétaire du marché. <br>
5. Cliquez &lt;&lt;caractéristiques de l’engagement&gt;&gt;pour renseigner la nature de dépense, le
montant, l’objet du marché et les informatives relatives au bénéficiaire. <br>
6. Cliquez sur &lt;&lt;pièces justificatives&gt;&gt; pour insérer les pièces ainsi que leur référence,
date et montant. <br>
7. Cliquez enfin sur &lt;&lt;enregistrer&gt;&gt; puis &lt;&lt;éditer&gt;&gt; pour imprimer le bon d’engagement.
Celui-ci doit être signé par le gestionnaire de crédits ou son suppléant avec leur cachet
nominatif et la date.
                </p>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action center-align">
            <a (click)="goToComptable()" class="waves-effect waves-light btn red m2">Retour</a>
           
          </div>          
      </div>
    </div>
    </div>
    </div>
    


