<div class="row">
    <div class="col s12 m8 offset-m2">
    <h4 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">REEDITION</h4>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped teal lighten-2" >
            <tbody>
              <tr>
                <p>
                  Cliquez sur &lt;&lt;Réédition&gt;&gt; pour rééditer la fiche descriptive de projet ou les
bordereaux de transmission vers l’OD <br>
1. Cliquez sur &lt;&lt;fiche projet de marché&gt;&gt; pour éditer à nouveau ladite fiche. <br>
2. Cliquez sur &lt;&lt;bordereaux de transmission pour éditer à nouveau lesdits bordereaux. 
Cliquez sur &lt;&lt;traitements rejets&gt;&gt; pour traiter les dossiers rejetés par l’OD <br>
1. Sélectionnez le dossier que vous souhaitez traiter en appuyant sur lui. <br>
2. Corrigez le dossier physique et/ou électronique en cliquant sur &lt;&lt;mettre à jour&gt;&gt; <br>
3. Cliquez sur &lt;&lt;repositionner&gt;&gt; pour renvoyer le dossier ainsi corrigé à l’OD <br>
4. Mettez sur le bordereau de rejet (dossier physique) la mention « rejet satisfait ». <br>
                </p>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action center-align">
            <a (click)="goToMarchepublic()" class="waves-effect waves-light btn red m2">Retour</a>
          </div>          
      </div>
    </div>
    </div>
    </div>
    


