<div class="row">
    <div class="col s12 m8 offset-m2">
      <h4 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">CHAPITRE BUDGETAIRE</h4>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped  teal lighten-2">
            <tbody>
              <tr>
                <p>
                    Permet de connaitre la situation d’exécution de tout un chapitre ou les crédits affectés en
                    LFI.<br>
                    Situation d’exécution<br>
                    1. Cliquez sur &lt;&lt;chapitre budgétaire&gt;&gt;<br>
                    2. Cliquez sur &lt;&lt;situation d’exécution budgétaire&gt;&gt;<br>

                    3. Renseignez la section 43, le programme 2032 et le chapitre de votre Direction <br>
                    4. Cliquez sur &lt;&lt;éditer&gt;&gt; pour imprimer la situation d’exécution <br>
                    5. Cliquez sur &lt;&lt;quitter&gt;&gt; pour fermer la fenêtre 
                    Dotation LFI <br>
                    1. Cliquez sur &lt;&lt;chapitre budgétaire&gt;&gt; <br>
                    2. Cliquez sur &lt;&lt;dotation AE/CP&gt;&gt; <br>
                    3. Renseignez la section 43, le programme 2032 et le chapitre de votre Direction <br>
                    4. Cliquez sur &lt;&lt;éditer&gt;&gt; pour imprimer la notification des crédits de la Loi de finance <br>
                    initiale
                    5. Cliquez sur &lt;&lt;quitter&gt;&gt; pour fermer la fenêtre <br>
                </p>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action center-align">
            <a (click)="goToConsultation()" class="waves-effect waves-light btn red m2">Retour</a>
            
          </div>          
      </div>
    </div>
    </div>
    </div>
    


