<h4 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">ENGAGEMENT COMPTABLE</h4>
<div class="container">
  <div class="row">
      <div class="col s12 m4">
          <div (click)="goToNouveau()" class="card " tolaBorderCard>
              <div class="card-content">                    
              </div>
              <div class="card-content center teal lighten-2">              
                  <p style="font-weight: bold;">Nouveau</p>                    
              </div>
          </div>
      </div>
      <div class="col s12 m4">
          <div (click)="goToMise()" class="card #fafafa grey lighten-5" tolaBorderCard>
              <div class="card-content">                    
              </div>
              <div class="card-content center teal lighten-2">              
                  <p style="font-weight: bold;">Consultation/mise à jour</p>                    
              </div>
          </div>
      </div>
      <div class="col s12 m4">
          <div (click)="goToDossier()" class="card" tolaBorderCard>
              <div class="card-content">                    
              </div>
              <div class="card-content center teal lighten-2">              
                  <p style="font-weight: bold;">Dossier à transmettre</p>                    
              </div>
          </div>
      </div>
      <div class="col s12 m4">
          <div (click)="goTotraitement()" class="card" tolaBorderCard>
              <div class="card-content">                    
              </div>
              <div class="card-content center teal lighten-2">              
                  <p style="font-weight: bold;">Traitements rejets</p>                    
              </div>
          </div>
      </div>
      <div class="col s12 m4">
          <div (click)="goToPsp()" class="card" tolaBorderCard>
              <div class="card-content">                    
              </div>
              <div class="card-content center teal lighten-2">              
                  <p style="font-weight: bold;">Rééditions psp</p>                    
              </div>
          </div>
      </div>
      <div class="col s12 m4">
          <div (click)="goToBordereaux()" class="card" tolaBorderCard>
              <div class="card-content">                    
              </div>
              <div class="card-content center teal lighten-2">              
                  <p style="font-weight: bold;">Reedition bordereaux</p>                    
              </div>
          </div>
      </div>
  </div>
</div>
        <div class="card-action center-align">
          <a (click)="goToDirection()" class="waves-effect waves-light btn red m2">Retour</a>

            
          </div>          
      
    


