<div class="row">
    <div class="col s12 m8 offset-m2">
    <h4 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">REEDITION PSP</h4>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped  teal lighten-2">
            <tbody>
              <tr>
                <p>
                    Cliquez sur &lt;&lt;réédition PSP&gt;&gt; pour rééditer le bon d’engagement <br>
                    1. Cliquez sur &lt;&lt;réédition PSP&gt;&gt; <br>
                    2. Cliquez sur bon d’engagement <br>
                    3. Cliquez sur &lt;&lt;rechercher&gt;&gt; <br>
                    4. Sélectionnez le bon d’engagement que vous souhaitez rééditer et cliquez sur &lt;&lt;éditer&gt;&gt;
                    pour l’imprimer.
                </p>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action center-align">
            <a (click)="goToComptable()" class="waves-effect waves-light btn red m2">Retour</a>
            
          </div>          
      </div>
    </div>
    </div>
    </div>
    


