<div class="row">
    <div class="col s12 m8 offset-m2">
    <h3 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">AJOUT/MISE A JOUR</h3>
    
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped  teal lighten-2" >
            <tbody>
              <tr class="teal lighten-2">
                <p>1. pour un nouveau dossier laissez la fenetre par defaut sur saisir un nouveau dossier de passation <br>
                    . Renseignez les champs  <span> Gestion Type marché Mode de passation Objet appel d'offre Chapitre et Libellé lot </span> <br>
                    .Cliquez sur Enregistrer le dossier d'appel d'offre est créé <br>
                    2. Pour modifier un dossier déjà créé, cochez la case modifier un dossier de passation <br>
                     .Mettre à jour les information que vous désirez changer parmi l'année de gestion, le type de marché, le mode de passation, le chapitre budgéétaire et le libellé puis cliquez sur Enregistrer <br>
                     .Le dossier est modifié <br>
                     .Cliquez sur consultation pour voir la liste des dossiers d'appel d'offre <br>
                    2.1-Cliquez sur saisir pour ajouter un nouveau dossier <br>
                    2.2-Cliquez sur Mettre à jour pour mettre à jour un dossier déjà créé <br>
                    2.3-Cliquez sur Edition pour voir les informations relatives à un dossier d'appel d'offre et/ou imprimer la fiche <br>
                    2.4-Cliquez sur fermer pour quiter
                    
                    </p>
                
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action center-align">
            <a (click)="goToAppel()" class="waves-effect waves-light btn red m2">Retour</a>
          </div>          
      </div>
    </div>
    </div>
    </div>
    


