<div class="row">
    <div class="col s12 m8 offset-m2">
    <h4 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">SITUATION D'UN  DOSSIER DE DEPENSE</h4>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped  teal lighten-2">
            <tbody>
              <tr>
                <p>
                    Pour faire le suivi d’un projet de marché : <br>
                    1. Cliquez sur &lt;&lt;situation d’un dossier de dépense&gt;&gt; <br>
                    2. Cliquez sur &lt;&lt;projet de marché&gt;&gt; <br>
                    3. Renseignez le numéro du projet de marché pour connaitre son statut.
                    Pour faire le suivi d’un bon d’engagement ou mandat : <br>
                    1. Cliquez sur &lt;&lt;situation d’un dossier de dépense&gt;&gt; <br>
                    2. Cliquez sur &lt;&lt;projet de marché&gt;&gt; <br>
                    3. Renseignez le numéro du bon d’engagement ou mandat  pour connaitre son statut <br>
                </p>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action center-align">
            <a (click)="goToConsultation()" class="waves-effect waves-light btn red m2">Retour</a>
            
          </div>          
      </div>
    </div>
    </div>
    </div>
    


