<div class="navbar-fixed custom-navbar">
  <nav class="nav-extended #fafafa grey lighten-5">
    <div class="nav-wrapper">
       <img src="../assets/image/Bannière.png" alt="Logo Gauche" width="100%"  height="100"> 
    </div>  
  </nav>
</div> 

<div class="navbar-fixed">
  <nav class="teal darken-4">
    <div class="nav-wrapper">
      <a href="home/" class="brand-logo"><i class="material-icons">home</i></a>
      <form class="right" action="/rechercher" method="GET">
        
      </form>
      <ul class="right hide-on-med-and-down">
        <li class="button"><a href="aecp/">AE/CP</a></li>
        <li class="button"><a href="marche-cp/">Marché</a></li>
        <li class="button"><a href="engagement-cp/">Engagement</a></li>
        <li class="button"><a href="liquidation-cp/">Liquidation</a></li>
        <li class="button"><a href="information/">Informations</a></li>
        <li class="button"><a href="comment/">Comment</a></li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
<footer class="center">
  <div class="footer-copyright">
    <div class="container">
    © 2023 Copyright Manuel de Procedure Budgetaire
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>

