<div class="row">
    <div class="col s12 m8 offset-m2">
    <h4 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">PROJET DE MARCHE</h4>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped teal lighten-2">
            <tbody>
              <tr>
                <p>
                  Cliquez sur &lt;&lt;Nouveau&gt;&gt; pour ajouter un nouveau projet de marché. <br>
1. Choisissez la catégorie de dépense (fonctionnement ou investissement) et le type de
marché (standard / marché à commande / marché clientèle / avenant / tranches
conditionnelles). Cliquez sur &lt;&lt;saisir&gt;&gt;. <br>
2. Sur l’onglet &lt;&lt;spécification projet de marché&gt;&gt;, renseignez les champs exercice, objet,
responsable, fonction pour la rubrique &lt;&lt;détails du projet de marché&gt;&gt;. Mettez le ninea
du titulaire du marché. Cliquez sur &lt;&lt;+Lot&gt;&gt; pour aller chercher le dossier d »appel
d’offre relatif au projet de marché. Sélectionnez ledit dossier. Cochez la case à droite et
cliquez sur &lt;&lt;valider&gt;&gt;. Renseignez le montant du lot. <br>
3. Allez sur l’onglet &lt;&lt;imputation et destination&gt;&gt;. Renseignez la section, le programme,
le chapitre, la ligne, l’action et l’activité. <br>
4. Allez sur l’onglet &lt;&lt;mode de règlement&gt;&gt; pour mettre les informations bancaires du
titulaire du marché. Cliquez sur &lt;&lt;mode de règlement&gt;&gt; et choisissez celui qui se
rattache à votre dossier de marché. Cliquez sur &lt;&lt;établissement payeur&gt;&gt; pour
sélectionner la banque. Pour une recherche rapide mettez % ensuite le nom de la banque
et cliquez sur OK. Renseignez le code banque, le code guichet, le numéro de compte et
le RIB. <br>
5. Cliquez sur &lt;&lt;Enregistrer&gt;&gt; pour enregistrer le projet de marché et Editez la fiche
descriptive de marché à joindre dans le dossier à déposer.

Cliquez sur &lt;&lt;Dossier à transmettre&gt;&gt; pour transmettre les projets de marché créés à
l’ordonnateur délégué (OD). <br>
1. Cliquez sur &lt;&lt;ordonnateur&gt;&gt; pour choisir l’OD de votre section. Cochez les cases à
droite des dossiers dont vous souhaitez faire la transmission. Cliquez sur &lt;&lt;Créer le
bordereau&gt;&gt; puis Imprimez les bordereaux ‘original’ et ‘copie’. <br>
2. Déposez l’ensemble de votre dossier au bureau de votre ordonnateur délégué.
Cliquez sur &lt;&lt;consultation/mise à jour&gt;&gt; pour faire le suivi ou modifier votre dossier
de marché <br>
1. Cliquez sur &lt;&lt;saisie&gt;&gt; pour saisir un nouveau projet de marché. <br>
2. Cliquez sur &lt;&lt;mise à jour&gt;&gt; pour mettre à jour un projet non encore transmis à l’OD. <br>
3. Cliquez sur &lt;&lt;Editer&gt;&gt; pour afficher/imprimer la fiche descriptive de projet. <br>
4. Cliquez sur &lt;&lt;Fermer&gt;&gt; pour quitter la fenêtre. <br>
                </p>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action center-align">
            <a (click)="goToMarchepublic()"class="waves-effect waves-light btn red m2">Retour</a>
          </div>          
      </div>
    </div>
    </div>
    </div>
    


