<div class="row">
    <div class="col s12 m8 offset-m2">
    <h4 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">CONSULTATION MISE A JOUR</h4>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped  teal lighten-2">
            <tbody>
              <tr>
                <p>
                    Cliquez sur &lt;&lt;consultation/mise à jour&gt;&gt; pour voir la liste des dossiers d’engagement
                    comptables. <br>
                    1. Cliquez sur &lt;&lt;saisir&gt;&gt; pour ajouter un nouveau bon d’engagement. <br>
                    2. Cliquez sur &lt;&lt;Mettre à jour&gt;&gt; pour mettre à jour un bon d’engagement déjà créé. <br>
                    3. Cliquez sur &lt;&lt; Editer&gt;&gt; pour voir les informations relatives à un dossier d’engagement
                    comptable et/ou imprimer la fiche. <br>
                    4. Cliquez sur &lt;&lt;fermer&gt;&gt; pour quitter.
                </p>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action center-align">
            <a (click)="goToComptable()" class="waves-effect waves-light btn red m2">Retour</a>
            
          </div>          
      </div>
    </div>
    </div>
    </div>
    


