<div class="row">
    <div class="col s12 m8 offset-m2">
    <h4 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">APPEL D'OFFRE</h4>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped  teal lighten-2">
            <tbody>
              <tr>
                <p class="green-text">
                  Cliquez sur &lt;&lt;ajout/mise à jour&gt;&gt; pour saisir ou modifier un dossier d’appel d’offre.<br>
                  1. Pour un nouveau dossier laissez la fenêtre par défaut sur &lt;&lt;saisir un nouveau dossier de
                  passation&gt;&gt;. Renseignez les champs &lt;&lt;Gestion&gt;&gt;, &lt;&lt;Type marché&gt;&gt;, &lt;&lt;Mode de
                  passation&gt;&gt;, &lt;&lt;Objet appel d’offre&gt;&gt;, &lt;&lt;Chapitre&gt;&gt; et &lt;&lt;libellé lot&gt;&gt;. Cliquez sur
                  &lt;&lt;Enregistrer&gt;&gt;. Le dossier d’appel d’offre est créé.<br>
                  2. Pour modifier un dossier déjà créé, cochez la case &lt;&lt;modifier un dossier de
                  passation&gt;&gt;. Mettez à jour les informations que vous désirez changer parmi l’année de
                  gestion, le type de marché, le mode de passation, le chapitre budgétaire et le libellé.
                  Puis Cliquez sur &lt;&lt;Enregistrer&gt;&gt;. Le dossier est modifié.<br>
                  Cliquez sur &lt;&lt;consultation&gt;&gt; pour voir la liste des dossiers d’appel d’offre.<br>
                  1. Cliquez sur &lt;&lt;saisir&gt;&gt; pour ajouter un nouveau dossier.<br>
                  2. Cliquez sur &lt;&lt;Mettre à jour&gt;&gt; pour mettre à jour un dossier déjà créé.<br>
                  3. Cliquez sur &lt;&lt; Editer&gt;&gt; pour voir les informations relatives à un dossier d’appel
                  d’offre et/ou imprimer la fiche.<br>
                  4. Cliquez sur &lt;&lt;fermer&gt;&gt; pour quitter.
                </p>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action center-align">
            <a (click)="goToMarchepublic()" class="waves-effect waves-light btn red m2">Retour</a>
            <!--<a (click)="goToAjout()" class="waves-effect waves-light btn ml2 mr2" style="margin-left: 10px; margin-right: 10px;">Ajout/mise a jour</a> -->
          </div>          
      </div>
    </div>
    </div>
    </div>
    


