<div class="row">
    <div class="col s12 m8 offset-m2">
    <h4 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">DOSSIER A TRANSMETTRE</h4>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped  teal lighten-2">
            <tbody>
              <tr>
                <p>
                    Cliquez sur &lt;&lt;Dossier à transmettre&gt;&gt; pour transmettre les dossiers d’engagement
                    juridique créés à l’ordonnateur délégué (OD). <br>
                    1. Cliquez sur &lt;&lt;dossier à transmettre&gt;&gt; <br>
                    2. Cliquez sur &lt;&lt;ordonnateur&gt;&gt; pour choisir l’OD de votre section. <br>
                    3. Cochez les cases à droite des dossiers dont vous souhaitez faire la transmission. Cliquez 
                    sur &lt;&lt;Créer le bordereau&gt;&gt; puis imprimez les bordereaux ‘original’ et ‘copie’. <br>
                    4. Déposez l’ensemble de votre dossier au bureau de votre ordonnateur délégué.
                </p> 
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action center-align">
            <a (click)="goToJuridique()" class="waves-effect waves-light btn red m2">Retour</a>
           
          </div>          
      </div>
    </div>
    </div>
    </div>
    


