<div class="row">
    <div class="col s12 m8 offset-m2">
    <h4 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">TRAITEMENTS REJETS</h4>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped  teal lighten-2">
            <tbody>
              <tr>
                <P>
                    Cliquez sur &lt;&lt;traitements rejets&gt;&gt; pour traiter les bons d’engagement rejetés par l’OD <br>
                    1. Cliquez sur &lt;&lt;traitements rejets&gt;&gt; <br>
                    2. Cliquez sur &lt;&lt;bon d’engagement&gt;&gt; <br>
                    3. Sélectionnez le bon que vous souhaitez traiter en appuyant sur lui. <br>
                    4. Corrigez le dossier physique et/ou électronique en cliquant sur &lt;&lt;modifier bon&gt;&gt; <br>
                    5. Cliquez sur &lt;&lt;repositionner vers l’OD&gt;&gt; pour renvoyer le dossier ainsi corrigé à l’OD <br>
                    6. Mettez sur le bordereau de rejet (dossier physique) la mention « rejet satisfait ». <br>
                </P>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action center-align">
            <a (click)="goToComptable()" class="waves-effect waves-light btn red m2">Retour</a>
        
          </div>          
      </div>
    </div>
    </div>
    </div>
    


