<div class="row">
    <div class="col s12 m8 offset-m2">
    <h4 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">ENREGISTRER</h4>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped  teal lighten-2">
            <tbody>
              <tr>
                <p>
                    Cliquez sur &lt;&lt;marché immatriculé&gt;&gt; s’il s’agit d’un marché immatriculé <br>
                    1. Cliquez &lt;&lt;spécification du marché&gt;&gt; et renseignez les données spécifiques au
                    marché : n° projet de marché, objet, nature prestation, ect <br>
                    2. Cliquez sur &lt;&lt;situation imputation&gt;&gt; et renseignez les champs relatifs à l’imputation
                    budgétaire du marché. <br>
                    3. Cliquez sur &lt;&lt;données à renseigner&gt;&gt; pour mettre l’immatriculation du marché, la date
                    de souscription et la date d’approbation. <br>
                    4. Cliquez enfin sur &lt;&lt;enregistrer&gt;&gt; pour enregistrer l’engagement juridique.
                    Cliquez sur &lt;&lt;DRP simple ou restreinte&gt;&gt; s’il s’agit d’une DRP simple, cotation ou
                    entente directe. <br>
                    1. Cliquez sur &lt;&lt;imputation destination&gt;&gt; et renseignez les champs relatifs à l’imputation
                    budgétaire du marché. <br>
                    2. Cliquez &lt;&lt;spécification du marché&gt;&gt; et renseignez les données spécifiques au
                    marché : type de prestation, mode de prestation, nature dépense ect. <br>
                    3. Cliquez &lt;&lt;tiers bénéficiaire&gt;&gt; et renseignez les données relatives au titulaire du
                    marché : référence, nom, prénom, données bancaires ect. <br>
                    4. Cliquez enfin sur &lt;&lt;enregistrer&gt;&gt; pour enregistrer l’engagement juridique et imprimer
                    la fiche descriptive des AE à consommer.
                </p>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action center-align">
            <a (click)="goToJuridique()" class="waves-effect waves-light btn red m2">Retour</a>
           
          </div>          
      </div>
    </div>
    </div>
    </div>
    


