<div class="row">
    <div class="col s12 m8 offset-m2">
    <h4 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">NOUVEAU</h4>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped  teal lighten-2">
            <tbody>
              <tr>
                <p>
                    Cliquez sur &lt;&lt;Nouveau&gt;&gt; pour ajouter un dossier de liquidation <br>
1. Cliquez sur &lt;&lt;nouveau&gt;&gt; <br>
2. Choisissez sur &lt;&lt;BE&gt;&gt; le bon d’engagement dont vous souhaitez faire la liquidation <br>
3. Cliquez sur &lt;&lt; caractéristiques de la liquidation&gt;&gt; pour renseigner le montant, l’objet
de la liquidation et les références (NINEA) du bénéficiaire. Celui-ci comporte
généralement 9 caractères alphanumériques. <br>
4. Cliquez sur &lt;&lt; pièces justificatives&gt;&gt; pour insérer les pièces requises (facture
définitive, PV, bordereau de livraison …) <br>
5. Allez sur l’onglet &lt;&lt;mode de règlement&gt;&gt; pour mettre les informations bancaires du
titulaire du marché. Cliquez sur &lt;&lt;mode de règlement&gt;&gt; et choisissez celui qui se
rattache à votre dossier de marché. Cliquez sur &lt;&lt;établissement payeur&gt;&gt; pour
sélectionner la banque. Pour une recherche rapide mettez % ensuite le nom de la banque
et cliquez sur OK. Renseignez le code banque, le code guichet, le numéro de compte et
le RIB. <br>
6. Cliquez sur &lt;&lt;enregistrer&gt;&gt; pour enregistrer la liquidation <br>
                </p>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action center-align">
            <a (click)="goToLiquidation()" class="waves-effect waves-light btn red m2">Retour</a>
            
          </div>          
      </div>
    </div>
    </div>
    </div>
    


