<div class="row">
    <div class="col s12 m8 offset-m2">
    <h4 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">REEDITIONS</h4>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped  teal lighten-2">
            <tbody>
              <tr>
                <p>
                    Cliquez sur rééditions pour rééditer la fiche descriptive ou les borderaux <br>
                    1. Cliquez sur &lt;&lt;rééditions&gt;&gt; <br>
                    2. Cliquez sur fiche descriptive ou bordereaux <br>
                    3. Cliquez sur &lt;&lt;rechercher&gt;&gt; <br>
                    4. Sélectionnez la fiche ou les bordereaux que vous souhaitez rééditer et cliquez sur
                    &lt;&lt;editer&gt;&gt; pour l’imprimer
                </p>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action center-align">
            <a (click)="goToJuridique()" class="waves-effect waves-light btn red m2">Retour</a>
            
          </div>          
      </div>
    </div>
    </div>
    </div>
    


