<div class="row">
    <div class="col s12 m8 offset-m2">
    <h4 class="center" style="background-color: #f2f2f2; box-shadow: 3px 3px 5px #888888;">DOSSIER DE MARCHES PUBLICS</h4>
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
              <tr>
                <td>La fonctionnalité est composée des dossiers d'appel d'offre, des projets de marché et de la réédition</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action center-align">
            <a (click)="goToDirection()" class="waves-effect waves-light btn red m2">Retour</a>
            <a (click)="goToOffre()" class="waves-effect waves-light btn ml2 mr2" style="margin-left: 10px; margin-right: 10px;">Appel d'offre</a>
            <a (click)="goToMarche()" class="waves-effect waves-light btn m2">Projet de marche</a>
            <a (click)="goToReedition()" class="waves-effect waves-light btn ml2 mr2" style="margin-left: 10px; margin-right: 10px;">Reedition</a>
          </div>          
      </div>
    </div>
    </div>
    </div>
    


